[user]
	name = Scott Graessle
	email = sgraessle@zynga.com
[color]
	diff = auto
	branch = auto
	status = auto
[alias]
	llog = log --date=local
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[merge]
	tool = araxis
[diff]
	tool = araxis
[core]
	excludesfile = /Users/sgraessle/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxisgitmerge-w.sh \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = true
[svn]
	pushmergeinfo = true
[credential]
	helper = osxkeychain
[push]
	default = current
